:root {
  --color-1: #296d63;
  // --color-1-alpha: #296d6340;
  --header: #ffe7b599;
  --color-2: #521010;
  --bg-color: #ffe7b5;
  --fg-color: #f5f5f5;
  --text-color: #1e1e1e;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: grid;
}
